/* Reset some default styles */
body,
h1,
h2,
p,
a,
input {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Apply a background color to the body */
body {
    /* background-color: #f4f4f4; */
    background-image: url(/assets/lg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Center the container horizontally */
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffffb1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 240px;
}

/* Style the form */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #0015ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #00ff0d;
}

/* Add some padding to the container on smaller screens */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
}
