/* Add general styling for the container */
body {
    background-color: aliceblue;
}
.container {
    max-width: 600px;
    padding: 20px;
    border: 3px solid #000000;
    border-radius: 10px;
    margin: 25%;
    background-image: url(/assets/pf.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color: white; 
}

/* Style for each profile detail */
div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

span {
    display: inline-block;
    margin-left: 10px;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 100%;
    }
}
