/* Add general styling for the container */
body {
    background-image: url(/assets/pf.webp);
    background-repeat: no-repeat;
    background-size:cover;
}
.container {
    color: white;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff00;
    border: 3px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for each profile detail */
div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

span {
    display: inline-block;
    margin-left: 10px;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 100%;
    }
}
